.homeHero {
  width: 100vw;
}

.homeImg {
  background: url("/homeImg.jpg");
  background-repeat: no-repeat;
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.6vh;
}

.homeImgHeading {
  color: rgb(255, 255, 255);
  width: 90vw;
  text-align: center;
}

.casinosAndCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}

.promotedCasinos {
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.fixedCard {
  width: 50%;
}

.promotedCasinosHeader {
  margin: 1.6vh 0 0 1.6vw;
}

.promotedCasinoBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 1.6vw;
  margin: 2.4vh auto;
  height: 20vh;
  width: 90%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.casinoLogo {
  border-radius: 50px 50px;
}

.casinoPerks {
  display: flex;
  flex-direction: column;
}

.casinoCTAs {
  display: flex;
  flex-direction: column;
  row-gap: 1.6vh;
}

.juegaCTA,
.analisisCTA {
  text-decoration: none;
  border-radius: 25px 25px;
  text-align: center;
}
.juegaCTA {
  padding: 12px;
  color: rgb(255, 255, 255);
  background-color: rgb(241, 92, 100);
}

.analisisCTA {
  padding: 6px;
  color: rgb(241, 92, 100);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(241, 92, 100);
}

/* Media Queries Start Here */
